# PyTorch (CPU)
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Embeddings / NLP
sentence-transformers

# Jupyter / Dev Tools
ipykernel
ipywidgets
uv

# LangChain & LangGraph
langchain-core
langchain-community
langchain-huggingface
langchain-google-genai
langgraph
langgraph-prebuilt
langgraph-checkpoint-postgres
langchain_tavily

# Google GenAI SDK
google-genai

# Observability & Tracing
langfuse
langsmith

# Database
psycopg[binary,pool]

# Utilities
python-dotenv